//custom css
* {
  // font-family: 'Montserrat', sans-serif;
}

html,
body {
  background-color: #eee !important;
}

.login-box {
  max-width: 450px;
  padding: 25px 25px;
  margin: 75px auto;
  background-color: #fff;
}

.footer {
  bottom: 0;
  width: 100%;
}

.social-icon img {
  width: 2%;
  margin: 5px;
}

.item {
  width: '12rem';
  margin: 10px;
}

.itemImage {
  max-width: 50%;
  margin: 10px auto;
}

.bookDetails img {
  margin: 10px;
}

.btnToolBarIncDec {
  width: min-content;
  margin: auto;
}

.navbarContainer {
  .navBarBtns {
    margin-right: 10px;
    margin-bottom: 2px;
  }
}

@import '~bootstrap/scss/bootstrap';
